// you can change config here
$theme-colors: #5c7aea, #64B5F6, #f39c12, #E53935, #FF8A80 !default;

// shadow
$box-shadow: (
  light: #f0f1f2,
  dark: #282a32,
) !default;
$card-shadow: (
  light: rgb(0 0 0 / 15%),
  dark: rgb(0 0 0 / 30%),
) !default;