/* .vuepress/styles/index.styl or .vuepress/styles/index.css */
.post {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .post h2 {
    color: #2c3e50;
  }
  
/* .vuepress/styles/index.styl or .vuepress/styles/index.css */
.post iframe {
  width: 100%;
  height: auto;
}