// you can change colors here
$colors: #5c7aea !default;

html[data-theme="dark"] {
  --navbar-bg-color: var(--theme-color-mask);
  --text-color: #EEEEEE;
  --bg-color: #222831;
  --sidebar-bg-color: #31363F;
  --bg-color-blur: rgba(13, 17, 23, 0.7);
  .vp-footer-wrapper{
    background: #2F3645;
    color: #F5F7F8;
  }
}

html[data-theme="light"] {
  --navbar-bg-color: var(--theme-color);
  --bg-color: #fafafa;
  --sidebar-bg-color: #f5f5f5;
  .vp-footer-wrapper{
    background: #45474B;
    color: #F5F7F8;
  }
}

//apply custom font
$font-family: "Noto Sans Display";
$font-family-mono: "Noto Sans Mono";
$color-transition: 0.2s;
$transform-transition: 0.2s;